body {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: auto;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    background-color: #0B2D59;
    font-size: 1.5rem;
    color: #085CA6;
}

h1,
header {
    font-family: 'Montserrat', serif;
}

body h1 {
    display: inline-flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    border: 0.5rem black solid;
}
body h1 p {
    color: black;
    margin: 0 auto;
}

header {
    margin: auto;
}

label {
    margin: 1.5rem auto;
}

.layer2 {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 80%;
    background-color: black;
    margin: auto;
    padding: 1rem;
    border-radius: 3%;
}

.layer2 .button {
    margin: auto;
}

form {
    display: inline-flex;
    flex-direction: column;
    margin: auto;
    border-radius: 3%;
}

.button {
    padding: 1rem;
}