body {
    display: flex;
    justify-content:flex-start;
    align-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: auto;
    font-family: 'Oswald', sans-serif;
    background-image: url("./resources/images/magic/magic8ball_loading.png");
    background-position: center;
    background-size: contain;
    color: white;
    background-color: #00076D;
}

header {
    color: #085ca6;
    font-family: 'Montserrat', serif;
    font-size: 1rem;
    font-weight: 500;
}

body h1 {
    display: inline-flex;
    flex-direction: column;
    color: #00076D;
    background-color: white;
    width: 100%;
    border: 0.5rem black solid;
}

body h1 p {
    color: black;
    margin: 0 auto;
}

header {
    margin: auto;
}

label {
    margin: 1.5rem auto;
    font-size: 1.15rem;
}

#queryBox,
#answerBox, {
    align-items: center;
    justify-content: center;
    color: White;
    font-size: .55rem;
    height: 250px;
    width: 100%;
    background-color: #2C8257;
    border: brown 25px solid;
}

#userInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#eightBallImg {
    width: 50vw;
    height: 50vw;
    margin: 1 auto;
    position: static;
}

.boxes {
    display: flex;
    flex-direction: column;
    border-radius: 50%;

    align-items: center;
    justify-content: center;
}

.queryBox {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.queryBox .button {
    margin: auto;
}

form {
    display: inline-flex;
    flex-direction: column;
    margin: auto;
    border-radius: 3%;
}

.button {
    padding: 1rem;
}

/*Hidden for mobile*/
#answerBox {
    display: none;
    flex-direction: column;
    background-color: black;
    margin: 30px auto;
    height: 250px;
    width: 100vw;
    background-color: #2C8257;
    border: brown 25px solid;
    align-items: center;
    justify-content: center;
}

.answerBox p {
    font-size: .65rem;
}

@media only screen and (min-width: 1024px) {

    #eightBallImg {
        width: 25vw;
        height: 25vw;
        margin: auto;
        display: flex;
        align-self: center;
    }

    .boxes {
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    #queryBox,
    #answerBox {
        height: 200px;
        width: 700px;
        margin: 3rem;
        align-items: center;
        justify-content: center;
        
    }

    #answerBox p {
        font-size: .85rem;
    }
}